@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

/* Här lägger vi in färg-variabler: */

/* Här lägger vi in färg-variabler: */

:root {
	/* Button colors */
	--digi--color--background--inverted-1: #267e5b;
	/* Hover */
	--digi--color--background--inverted-6: #1d4e37;

	/* Link text color */
	--digi--color--text--link: #377d5c;

	/* Default white color: */
	--digi--color--background--primary: #f3f0e6;

	/* Background */
	--digi--layout-block--background--secondary: #f3f0e6;
	--digi--color--background--secondary: #f3f0e6;
	--digi--color--background--neutral-4: #ffffff;

	/* Pagination: */
	--digi--color--text--secondary: #000;
	--digi--color--border--secondary: #377d5c;
	--digi--color--border--inverted-2: #1d4e37;
	--digi--button--color--border--primary--default: #377d5c;
	--digi--button--color--border--primary--hover: #377d5c;
	--digi--button--color--border--primary--active: #377d5c;

	/* Pagination btn non-active hover */
	--digi--color--background--inverted-5: #d4e9db;
	--digi--color--text--inverted: #fcf7eb;
	--digi--color--border--inverted-3: #fcf7eb;
	--digi--color--text--primary: #267e5b;

  	--digi--grayscale-0: #267e5b;
	--digi--border-radius--input: 0.375rem;
}

main,
body {
	background-color: #f3f0e6;
}

.ns-footer {
	--digi--gutter--largest-2: 0;
}

:where(digi-footer) [slot="content-bottom-left"] {
	place-self: end start;
	align-self: end;
	width: auto;
	text-align: left;
}

:where(digi-footer) [slot="content-bottom-right"] {
	place-self: end end;
	align-self: end;
	margin-left: auto;
	text-align: right;
}

.ns-footer__bottom-left {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.ns-footer__logo {
	display: block;
	height: auto;
}

.search-columns .digi-layout-columns.sc-digi-layout-columns {
	grid-template-columns: 1fr 2fr;
}
