@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/digi-arbetsformedlingen.css";
@import "@digi/arbetsformedlingen/dist/digi-arbetsformedlingen/fonts/src/fonts.css";

:root {
  --digi--color--text--inverted:#FCF7EB;
  --digi--color--background--inverted-1: #267E5B; 
  --digi--color--border--inverted-3: #FCF7EB; 
  --digi--color--text--primary: #FCF7EB; 
  }

  .ns-footer {
	--digi--gutter--largest-2: 0;
}

:where(digi-footer) [slot="content-bottom-left"] {
	place-self: end start;
	align-self: end;
	width: auto;
	text-align: left;
}

:where(digi-footer) [slot="content-bottom-right"] {
	place-self: end end;
	align-self: end;
	margin-left: auto;
	text-align: right;
}

.ns-footer__bottom-left {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.ns-footer__logo {
	display: block;
	height: auto;
}
  

